#hero-container {
  margin: -10px 10px 10px;
  width: 220px;
}

#arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid rgba(11, 13, 18, 0.75);
}

#hero-detail {
  background: rgba(11, 13, 18, 0.75);
  color: #fafafa;
  padding: 10px;
}

#hero-description{
  font-size: 75%;
}

.button {
  background-color: #fa9c1e; /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
  font-size: 75%;
  justify-self: right;
}


